<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Anthony Sun - Home</title>
        <link rel="stylesheet" href="static/style.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body class="nunito" style="width: 100%">
        <script src="{{url_for('static', filename='script.js')}}"></script>

        <div style="display: flex; align-items: center; justify-content: space-around; flex-direction: column; width: 100%;">
            <h1 style="font-size: 36px; margin-top: 5%;">Sorry, I can't find that page.</h1>
            <p style="font-size:22px; margin-top: 30px; margin-bottom: 30px;">However, I think you'll find these to be interesting:</p>
            
            {% for post in posts %}
                    
            <div style="width: 60%" class="grid twoCol postentry" onclick="redirect('{{post[0]}}')">
                <div class="grid oneCol">
                    <h4 class="posttitle">{{post[0]}}</h4>
                    <div class="flex taglist">
                        {%for tag in post[1]%}
                        <div class="tags" style='background-color: {{tag[1]}}' >{{tag[0]}}</div>
                        {%endfor%}
                    </div>
                </div>
                <div class="publishdate">
                    {{post[2]}}
                </div>
            </div>
            {%endfor%}

         </div>
    </body>
</html>
