<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{content[0]}}</title>
        <link rel="stylesheet" href="static/style.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body class="nunito">
        <script src="{{url_for('static', filename='script.js')}}"></script>
        
        <div class="backlink">
            <a href="/">← Home</a>
        </div>
        <h1 class="blogtitle">{{content[0]}}</h1>
        <div class="flex taglist">
            {%for tag in content[1]%}
            <div class="tags" style='background-color: {{tag[1]}}' >{{tag[0]}}</div>
            {%endfor%}
        </div>
        <p class="moddate">{{content[4]}}</p>
        <div class="content">
            {{content[5]|safe}}
        </div>
        <div class="upbutton" id="up" onclick="topFunction()"><img class="upimg" src="static/assets/up.png"></div>
        <div style="height: 100px"></div>
    </body>
</html>